*.db
.DS_Store
.cache/
.file_versions
.gitkeep
.log
.logs/
.mage_temp_profiles
.preferences.yaml
.ssh_tunnel
.terraform
.terraform.*
.variables/
__pycache__/
docker-compose.override.yml
logs/
mage_data/
mlruns/
secrets/
terraform.tfstate
terraform.tfstate.backup
titanic_clean.csv
